<div class="navbar1" style="background-color: #07436F">
  <div>
    <p class="home"> Home | My Apps <span class="home1" style="font-weight: normal;"> My Worklist | My Settings | Logout
      </span></p>
  </div>
</div>

<div class="navbar">
  <div class="top-logo">
    <div class="logo">
      <img class="ultimatix" src="https://www.ultimatix.net/content/dam/ultimatix-portal/ultimatix_logo.png?ver=2">
    </div>

    <div class="logo2">
      <img class="GHD_logo " src="assets/GHD_logo.jpeg">
      <p>Global ESS</p>

    </div>

  </div>

</div>

<h6 class="top_head">
  Responsibilities > Travel Responsibilities > View/Amend Travel Details
</h6>