:root{
    margin: 0px;
    padding: 0px;
}

#firstheading{
    float: left;
    padding: 15px;
}

#closeSymbol{
    float: right;
    padding: 15px;

}

span i input [type=file]{
    display: none;
}


body{

    margin: 0px;
    padding: 0px;
}



#attachment{
    float: left;
    padding-left: 15px;
    padding-right: 7px;
    margin-right: 0px;
}

#chatSpace{
    /* background-image: url("");
    background-size:20%;
    background-repeat: no-repeat;
    background-position:top; */
    text-align: center;
}


#sendMessage{
    float: right;
    padding-right: 15px;
    /* padding-left: 0px;
    margin-left: 0px;
    overflow: hidden; */


   
}

    

    
input:focus, textarea:focus, select:focus{
    outline: none;
}



footer{
    padding: 10px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 0px;


    
    
}

::placeholder{
    text-align: center;
}



/* Media Queries for responsive website */

@media screen and (min-width: 600px) {

    input[type=text]{
        padding: 10px 0;
        width: 80%;
        margin:0px auto;
        border-radius: 15px;
        border:solid grey 1px;
    text-align: center;
    background-color:#F6F6F6;
    
    }

    .navBar{
        margin-top: 0px;
        padding-top: 0px;
        background-color:#0054D2;
        overflow: hidden;
        color: white;
        font-size: 25px;
    }

    #chatSpace{
        height: 500px;
        width: 100%;
    }
    

}

/* mobile view */
@media screen and (max-width: 600px) {

    input[type=text]{
        padding: 10px 0;
        width: 70%;
        margin:0px auto;
        border-radius: 15px;
        border:solid grey 1px;
    text-align: center;
    background-color:#F6F6F6;
    
    }

    
    .navBar{
        margin-top: 0px;
        padding-top: 0px;
        background-color:#0054D2;
        overflow: hidden;
        color: white;
        font-size: 20px;
    }
    
    #chatSpace{
        height: 530px;
        width: 100%;
    }

}