.vl {
  border-left: 1px solid rgb(181, 184, 187);
  height: 990px;
  position: absolute;
  left: 60%;
  margin-left: 6%;

}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");


.leftbox {
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background-color: #09723a;
  box-shadow: 3px 3px 15px rgba(119, 119, 119, 0.5);
}

nav {
  margin: 2.6em auto;
}

nav a {
  list-style: none;
  padding: 35px;
  color: #232931;
  font-size: 1.1em;
  display: block;
  transition: all 0.5s ease-in-out;
}

.rightbox {
  padding: 0em 34rem 0em 0em;
  height: 100%;
}

.rb-container {
  font-family: "PT Sans", sans-serif;
  width: 75%;
  margin: auto;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  margin-left: 1em;
  min-height: 50px;
  border-left: 5px solid #5a51e8;
  padding: 0px 0px 40px 30px;
  position: relative;
}


.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -12px;
  top: -11px;
  content: " ";
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: #335ff1;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}


.rb-container ul.rb li:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
  color: #50d890;
  position: relative;
  width: 100px;
  font-size: 12px;
}

.item-title {
  color: #fff;
}

.collapsetable {
  border-collapse: collapse;
}

.sepratetable {
  border-collapse: separate;
  border-spacing: 8px;
}

th {
  text-align: left;
}

tr {
  margin-top: 10px;
}

th,
td {
  width: 200px;
  vertical-align: top;
}

.selected {
  background-color: #f3f8f7;
  padding: 10px 0 15px 0;

}

.margin-10 {
  padding-left: 30px;
}

.newtable {
  border-bottom: solid 1px lightgrey;
  padding: 13px;
}

.newtable1 {
  padding: 13px;
}

.line {
  border-bottom: solid 1px lightgrey;

}

.collapsetable {
  border-collapse: collapse;
}

.sepratetable {
  border-collapse: separate;
  border-spacing: 8px;
}

th {
  text-align: left;
}

tr {
  margin-top: 10px;
}

th,
td {
  width: 200px;
  vertical-align: top;
}

.selected {
  background-color: #f3f8f7;
  padding: 10px 0 15px 0;

}

.margin-10 {
  padding-left: 30px;
}

.newtable {
  border-bottom: solid 1px lightgrey;
  padding: 13px;
}

.newtable1 {
  padding: 13px;
}

.line {
  border-bottom: solid 1px lightgrey;

}

.collapsetable {
  border-collapse: collapse;
}

.sepratetable {
  border-collapse: separate;
  border-spacing: 8px;
}

th {
  text-align: left;
}

tr {
  margin-top: 10px;
}

th,
td {
  width: 200px;
  vertical-align: top;
}

.selected {
  background-color: #f3f8f7;
  padding: 10px 0 15px 0;

}

.margin-10 {
  padding-left: 30px;
}

.newtable {
  border-bottom: solid 1px lightgrey;
  padding: 13px;
}

.newtable1 {
  padding: 13px;
}

.line {
  border-bottom: solid 1px lightgrey;

}

.collapsetable {
  border-collapse: collapse;
}

.sepratetable {
  border-collapse: separate;
  border-spacing: 8px;
}

th {
  text-align: left;
}

tr {
  margin-top: 10px;
}

th,
td {
  width: 200px;
  vertical-align: top;
}

.selected {
  background-color: #f3f8f7;
  padding: 10px 0 15px 0;

}

.margin-10 {
  padding-left: 30px;
}

.newtable {
  border-bottom: solid 1px lightgrey;
  padding: 13px;
}

.newtable1 {
  padding: 13px;
}

.line {
  border-bottom: solid 1px lightgrey;

}


.rightbox {
  padding: 0em 34rem 0em 0em;
  height: 100%;
}

.rb-container {
  font-family: "PT Sans", sans-serif;
  width: 60%;
  margin: auto;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  margin-left: 1em;
  min-height: 50px;
  border-left: 3px solid #3b87fff0;
  padding: 0px 0px 40px 30px;
  position: relative;
}


.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -11px;
  top: -11px;
  content: " ";
  border: 0px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: #3b87fff0;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}


.rb-container ul.rb li:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
  color: #50d890;
  position: relative;
  width: 100px;
  font-size: 12px;
}

.item-title {
  color: #fff;
}

.node {
  font-weight: 600;
  font-size: 19px;

}

body {
  background-color: white;
}

.row {
  background-color: white;
  margin-left: 3.5%;
  margin-right: 10%;

}

.flex-container {
  display: flex;
  width: 400px;
  justify-content: space-between;
  float: right;
}

.myModal.show {
  display: block;
}


.modal-header {
  background-color: rgba(9, 102, 156, 0.938);
  color: white;
}

.custom {
  min-height: 190px;
}

#textarea {

  font-size: 12pt;
  width: 250px;
  height: 80px;
}


#textarea1 {

  font-size: 12pt;
  width: 250px;
  height: 80px;
}
.footer {

  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
