/* .form-group input {
  width: 10%;

}

form.ng-untouched.ng-pristine.ng-valid {
  padding: 5px;
  margin: -1px;
}

.row {
  padding: 1px;
}

label {
  font-weight: 300;
}


button.btn.btn-primary {
  background-color: #41ABEB !important;
}

.table_content {
  margin-left: 5px;
  width: 90%;
}

footer.footer {
  background-color: #27648d;
  height: 50px;


}

footer.footer p {
  color: white;
  padding-top: 2px;
  padding-bottom: 0px;

}



span {
  font-weight: 900;
}

.below_copyright {
  display: flex;
  padding-top: 10px;

}

p.copyright {
  padding-right: 30px;
  padding-top: 0px;

}



body {
  background-color: #F2F4F4;
}

.navbar {
  background-color: #287ccf;
}

.top-logo {
  display: flex;
}

.logo2 p {
  width: 100%;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  padding-left: 2px;
}

.logo2 {
  display: flex;
}

.top-logo {
  margin-left: 55px;
}

tr.down_tr {
  height: 43px;
}

tr.heading_table {
  background-color: #eaf0f8f5 !important;

}

.rb-container[_ngcontent-whp-c16] ul.rb[_ngcontent-whp-c16] li[_ngcontent-whp-c16]::before {
  position: absolute;
  left: -12px;
  top: -11px;
  content: " ";
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: green !important;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.rightbox {
  float: right;
}

h4.Workflow_heading {
  margin-left: 61px;
}

table.collapsetable {
  padding: 20px;
}

table.pdf_details_top {
  padding-left: 27px;
}



h4.invoice {
  padding-left: 23px;
}

table.sepratetable {
  padding-left: 20px;
}

table.collapsetable {
  padding-left: 23px;
}


.whole_content {
  padding-left: 49px;
  margin-left: 51px;
  margin-right: 67px;
  margin-bottom: 80px;
}

h4.invoice {
  margin-left: 30px;
}

h4.Workflow_heading {
  background-color: #F4ECEA;
  font-weight: 550;
  padding-bottom: 0 !important;
}



.rb-container {
  padding-top: 0 !important;
  width: 30%;
}



.rightbox {
  padding-right: 84px !important;
}

.copyright {
  padding: 0px !important;
  font-size: 12px;

}

.tata_footer {
  padding-top: 2px !important;
  font-size: 12px;
} */

.form-group input {
  width: 10%;

}

form.ng-untouched.ng-pristine.ng-valid {
  padding: 5px;
  margin: -1px;
}

.row {
  padding: 1px;
}

label {
  font-weight: 300;
}

button.btn.btn-primary {
  background-color: #41ABEB !important;
}

.table_content {
  margin-left: 5px;
  width: 90%;
}

footer.footer {
  background-color: #27648d;
  height: 50px;



}

footer.footer p {
  color: white;
  padding-top: 2px;
  padding-bottom: 0px;

}



span {
  font-weight: 900;
}

.below_copyright {
  display: flex;
  padding-top: 10px;

}

p.copyright {
  padding-right: 30px;
  padding-top: 0px;

}



body {
  background-color: #F2F4F4;
}

.navbar {
  background-color: #287ccf;
}

.top-logo {
  display: flex;
}

.logo2 p {
  width: 100%;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  padding-left: 2px;
}

.logo2 {
  display: flex;
}

.top-logo {
  margin-left: 55px;
}

tr.down_tr {
  height: 43px;
}

tr.heading_table {
  background-color: #eaf0f8f5 !important;

}

.rb-container[_ngcontent-whp-c16] ul.rb[_ngcontent-whp-c16] li[_ngcontent-whp-c16]::before {
  position: absolute;
  left: -12px;
  top: -11px;
  content: " ";
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: green !important;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.rightbox {
  float: right;
}

h4.Workflow_heading {
  margin-left: 61px;
  box-sizing: content-box;
  height: 40px;
  width: 300px;
  text-align: center;


}

table.collapsetable {
  padding: 20px;
}

table.pdf_details_top {
  padding-left: 27px;
}



h4.invoice {
  padding-left: 23px;
}

table.sepratetable {
  padding-left: 20px;
}

table.collapsetable {
  padding-left: 23px;
}


.whole_content {
  padding-left: 49px;
  margin-left: 51px;
  margin-right: 67px;
  margin-bottom: 80px;

}

h4.invoice {
  margin-left: 30px;
}

h4.Workflow_heading {
  background-color: #F4ECEA;
  font-weight: 550;
  padding-bottom: 0 !important;
}



.rb-container {
  padding-top: 0 !important;
  width: 30%;
}



.rightbox {
  padding-right: 84px !important;
}

.copyright {
  padding: 0px !important;
  font-size: 12px;

}

.tata_footer {
  padding-top: 2px !important;
  font-size: 12px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
